.header{
  &.header-home{
    nav{
      background-color: transparent;
    }
  }
  nav{
    background-color: #fff;
    padding: 10px 65px;
    .nav-item{
      .nav-link{
        color: #fb5a73;
        font-size: 22px;
        margin-right: 50px;
        font-weight: bold;
        &.active{
          color: #1f7ca1;
        }
        &:focus{
          color: #1f7ca1;
        }
        &:hover{
          color: #1f7ca1;
        }
      }
    }
  }
}